<section>
<img (click)="fileInput.click()" [ngStyle]="{'border-radius': (params.type==='round') ? '50%' : '0'}" alt="{{params.title}}" [src]="croppedImage ? croppedImage : '/assets/icons/avatar.png'"/>
<button mat-button (click)="fileInput.click()">{{!!croppedImage ? 'Zmień '+params.title : 'Dodaj '+params.title }}</button>
<button id="remove" *ngIf="this.croppedImage && (imageService.downloadUrl$ | async) && imageService.isBase64Uploaded" mat-button (click)="deleteImage()">Usuń zdjęcie</button>
<input #fileInput type="file" accept=".png,.jpg,.jpeg" (change)="showCropperDialog($event)" aria-label="Wgraj obraz" aria-hidden="true" />
<mat-progress-bar role="progressbar" aria-label="Postęp ładowania obrazu" [attr.aria-valuenow]="(imageService.uploadProgress$ | async)" *ngIf="!(imageService.downloadUrl$ | async) && imageService.isBase64Uploaded" mode="indeterminate" [value]="(imageService.uploadProgress$ | async)"></mat-progress-bar>
</section>