# Editor
.vscode/*
*.code-workspace

# Firebase
*.log
.firebase

# Misc
.DS_Store
Thumbs.db

# Build
/dist

# Dependencies
/node_modules

# Optional eslint cache
.eslintcache

# Cypress
/cypress/screenshots

# Electron
main.js
main.js.map
release
electron_release

# Gradle
.gradle
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache