
  <h1>{{route.snapshot.data['title']}}</h1>
  <p>
    Cieszymy się, że jesteś z nami bo „<em>gdzie są swaj lub trzej zebrani w imię moje tam i ja jestem pośród nich</em>
    Mt 18 (19-20)”
  </p>

  Powiedz nam coś więcej o sobie


  <app-set-image *ngIf="auth.user$ | async as user" [params]="{ title: 'zdjęcie profilowe', savePath: 'users/' + user.uid + '/avatar', type: 'round'}"></app-set-image>



  <p>Twoje konto <strong>jest już aktywne</strong>, więc możesz</p>
  <ol>
    <li>dostosować <a href="">powiadomienia</a>,</li>
    <li>dodać własną <a href="">intencję</a>,</li>
    <li><a href="">modlić się</a> w intencji naszych Sióstr i Braci.</li>
  </ol>

  <p>Chcesz wiedzieć co się u nas dzieje? Polub profil Facebook, obserwuj Twitter, zajrzyj na naszego bloga.</p>


