<div>
  <div>
    <div slot="start">
      <div></div>
    </div>
    <div data-test="page-title">{{route.snapshot.data['title']}}</div>
  </div>
</div>

<div class="ion-padding">
  <div>
    <div size="12" size-sm>
      <div name="phone-portrait-outline"></div>
      <h2>Aplikacje na telefon</h2>
      <p>Włącz się do wspólnej modlitwy, poznaj dzisiejszą Ewangelię z komentarzem. Pobierz aplikację na telefon dla Android lub iOS.</p>
    </div>
    <div size="12" size-sm>
      <div name="documents-outline"></div>
      <h2>Raporty</h2>
      <p>Nie przegap żadnej prośby o modlitwę! Włącz zbiorcze powiadomienie o intencjach z ostatniej godziny, dnia lub tygodnia.
      </p>
    </div>
  </div>
  <div>
    <div size="12" size-sm>
      <div name="notifications-outline"></div>
      <h2>Powiadomienia</h2>
      <p>Korzystaj z powiadomień o każdej modlitwie w Twojej intencji, podziękowaniu czy nowej osobie z Twojej prarafii.</p>
    </div>
    <div size="12" size-sm>
      <div name="thumbs-up-outline"></div>
      <h2>Podziękowania</h2>
      <p>Z każdym powiadomieniem o modlitwie w Twojej intencji wysyłamy link, który pozwoli Ci przekazać podziękowanie.</p>
    </div>
  </div>
  <div>
    <div size="12" size-sm>
      <div name="chatbox-ellipses-outline"></div>
      <h2>Prywatne wiadomości</h2>
      <p>Kontaktuj się z innymi użytkownikami za pomocą prywatnych wiadomości.</p>
    </div>
    <div size="12" size-sm>
      <div name="book-outline"></div>
      <h2>modlitwy</h2>
      <p></p>
    </div>
  </div>
  <div>
    <div size="12" size-sm>
      <div name="people-outline"></div>
      <h2>Patroni</h2>
      <p></p>
    </div>
    <div size="12" size-sm>
      <div name="map-outline"></div>
      <h2>Parafie</h2>
      <p></p>
    </div>
  </div>
  <div>
    <div size="12" size-sm>
      <div name="help-circle-outline"></div>
      <h2>Pomoc</h2>
      <p></p>
    </div>
    <div size="12" size-sm>
      <div name="reader-outline"></div>
      <h2>Artykuły</h2>
      <p></p>
    </div>
  </div>
  <div>
    <div size="12" size-sm>
      <div name="hand-left-outline"></div>
      <h2>Świadectwa</h2>
      <p></p>
    </div>
    <div size="12" size-sm>
      <div name="desktop-outline"></div>
      <h2>Aplikacje na komputer</h2>
      <p></p>
    </div>
  </div>

  <div>
    <div size="12" size-sm>
      <div name="lock-closed-outline"></div>
      <h2>Bezpieczeństwo</h2>
      <p>Sztuczna inteligencja, mechanizmy Google, blokada wulgaryzmów, zgłaszanie / blokada użytkowników</p>
    </div>
    <div size="12" size-sm>
      <div name="fitness-outline"></div>
      <h2>Przypomnienia</h2>
      <p></p>
    </div>
  </div>

  <div>
    <div size="12" size-sm>
      <div name="bookmark-outline"></div>
      <h2>Pismo Święte</h2>
      <p>Codzienne czytania z Pisma Świętego.</p>
    </div>
    <div size="12" size-sm>
      #
      <h2>Hashtagi</h2>
      <p>Poznaj intencje szczególnie bliskie Twojemu sercu. Każdą z nich oznaczamy tagami łącząc tym samym w tematyczne grupy.</p>
    </div>
  </div>

</div>
