:host {
    div.card {
        margin:0;
        //border-bottom: 1px solid color($colors, second-border);
        width: 100%;
        box-shadow: none;

        .item {
            padding: 0 0 0 10px;
        }

        section {
            h2 {
                margin: 3px 0 0 0;
                font-size: 1.5rem;
                line-height: 1.4rem;
            }
            time {
                color: #777;
                font-size: 1.2rem;
            }
        }

        div img {
            width: 42px;
            height: 42px;
        }

        div[item-start] {
            margin: 0 10px 0 0;
        }

        div.card-content {
            padding: 0 16px 5px 63px !important;

            h2 {
                margin: 0 0 5px 0
            }

            p {
                //color: color($colors, dark);
                font-weight: 300;

            }
        }
    }
}




