<div class="ion-padding">
  <div>
    <img alt="Zdjęcie użytkownika Anonim" src="/assets/icons/avatar.png" />
  </div>
  <h2 class="ion-text-center">Anonim</h2>
  <h1 class="ion-text-center">{{route.snapshot.data['title']}}</h1>
  <p>
    Cieszymy się, że jesteś z nami bo „<em>gdzie są swaj lub trzej zebrani w imię moje tam i ja jestem pośród nich</em>
    Mt 18 (19-20)”
  </p>
  <p>Twoje konto <strong>jest już aktywne</strong>, więc możesz</p>
  <ol>
    <li><a href="">zaktualizować </a>informacje o sobie,</li>
    <li>dostosować <a href="">powiadomienia</a>,</li>
    <li>dodać własną <a href="">intencję</a>,</li>
    <li><a href="">modlić się</a> w intencji naszych Sióstr i Braci.</li>
  </ol>

  <p>Chcesz wiedzieć co się u nas dzieje? Polub profil Facebook, obserwuj Twitter, zajrzyj na naszego bloga.</p>
  <div>Przejdź do ustawień profilu</div>
</div>

