<div>
  <div>
    <div slot="start">
      <div></div>
    </div>
    <div data-test="page-title">{{route.snapshot.data['title']}}</div>
  </div>
</div>

<div class="content">

  <!-- Stations -->
  <div class="padding"></div>
  <div id="station0" class="station">
    <div class="title">
      <div id="title0" class="subtitle"></div>
      <div id="live0" class="live">NA ŻYWO</div>
      <div id="playing0" class="playing">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>
  <div id="station1" class="station">
    <div class="title">
      <div id="title1" class="subtitle"></div>
      <div id="live1" class="live">NA ŻYWO</div>
      <div id="playing1" class="playing">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>
  <div id="station2" class="station">
    <div class="title">
      <div id="title2" class="subtitle"></div>
      <div id="live2" class="live">NA ŻYWO</div>
      <div id="playing2" class="playing">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>
  <div id="station3" class="station">
    <div class="title">
      <div id="title3" class="subtitle"></div>
      <div id="live3" class="live">NA ŻYWO</div>
      <div id="playing3" class="playing">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>
  <div id="station4" class="station">
    <div class="title">
      <div id="title4" class="subtitle"></div>
      <div id="live4" class="live">NA ŻYWO</div>
      <div id="playing4" class="playing">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>

  <div id="station5" class="station">
    <div class="title">
      <div id="title5" class="subtitle"></div>
      <div id="live5" class="live">NA ŻYWO</div>
      <div id="playing5" class="playing">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>

  <div id="station6" class="station">
    <div class="title">
      <div id="title6" class="subtitle"></div>
      <div id="live6" class="live">NA ŻYWO</div>
      <div id="playing6" class="playing">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>

  <div id="station7" class="station">
    <div class="title">
      <div id="title7" class="subtitle"></div>
      <div id="live7" class="live">NA ŻYWO</div>
      <div id="playing7" class="playing">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>

</div>
