<div>
  <div>
    <div slot="start">
      <div></div>
    </div>
    <div data-test="page-title">{{ route.snapshot.data['title'] }}</div>
  </div>
</div>

<div class="ion-padding">
  <h2>Kim jesteśmy?</h2>
  <p>Intencje.pl to świecka inicjatywa osób z branży IT, które od 2016 roku – poświęcając swój wolny czas – tworzą
    wirtualne miejsce spotkania osób pragnących modlitwy i tych, którzy gotowi są ją ofiarować. Korzystając z
    najnowocześniejszych form komunikacji – w świetle zapewnień Jezusa Chrystusa „(…) gdzie są dwaj albo trzej zebrani w
    imię moje, tam jestem pośród nich (Mt 18, 19-20)” pragniemy, aby pozostawione w naszym serwisie prośby o modlitwę
    dotarły do jak największej ilości osób gotowych nieść modlitewną pomoc potrzebującym. Opiekę duchową nad serwisem
    sprawuje ks. Jarosław Hinc, proboszcz parafii p.w św Izydora Oracza w Gowinie. Patronem portalu jest św Izydor z
    Sewilli – opiekun internautów i informatyków.</p>

  <h2>Dla kogo jesteśmy?</h2>
  <p>Projekt dedykowany jest dwóm grupom osób. Pierwsza z nich to ci, którzy gotowi są poświęcić swój czas aby modlić
    się w pozostawionych u nas intencjach. Mogą to robić w trakcie wieczornej modlitwy, w drodze do pracy czy w przerwie
    pomiędzy codziennymi obowiązkami korzystając z naszej strony lub aplikacji na telefony z systemem Android lub iOS.
    Działanie tych osób można porównać do ogromnej wspólnoty rozsianej po całym świecie, ale jednoczącej się przez
    Internet.</p>

  <p>Druga grupa to osoby, które z różnych powodów pragną modlitwy i wsparcia. Czasem są to ludzie, którzy znaleźli się
    nagle w trudnej sytuacji, leżą w szpitalach, pozostali sami ze swoimi problemami. Informujemy Ich o bezinteresownych
    modlitwach w ich intencjach. Przekazujemy Im tym samym jasny komunikat – „nie zostałeś(łaś) ze swoimi problemami
    sam(a). Jest ktoś, komu na Tobie zależy. Nie trać wiary i nadziei!”.</p>

  <p>Obie grupy komunikujemy ze sobą poprzez mechanizm powiadomień, prywatnych wiadomości i prezentację wzajemnej
    aktywności.</p>

  <h2>Jak to działa?</h2>
  <p>Osoba, która pragnie modlitwy dodaje swoją intencję. Intencja ta po akceptacji moderatora i oznaczeniu odpowiednimi
    tagami publikowana jest na naszej stronie i rozsyłana do aplikacji zainstalowanych na telefonach naszych
    użytkowników. Za każdym razem, gdy ktoś kliknie przycisk „Modlę się” ​autor intencji otrzymuje powiadomienie o
    modlitwie. Dzięki współpracy z Fundacją Małych Stópek wszystkie opublikowane u nas intencje są dodatkowo wysyłane do
    współpracujących z nami zgromadzeń zakonnych:</p>
  <ul>
    <li>Adoratorki Krwi Chrystusa - Wrocław</li>
    <li>Antonianki - Łódź</li>
    <li>Antonianki - Dom Samotnej Matki - Łódź</li>
    <li>Apostolinki - Skierniewice</li>
    <li>Bernardynki - Wieluń</li>
    <li>Boromeuszki - Trzebnica</li>
    <li>Boromeuszki - Wrocław</li>
    <li>Bracia Franciszkanie Mniejsi Konwentualni - Kraków</li>
    <li>Kanoniczki - Leżajsk</li>
    <li>Kapucynki - Kraków</li>
    <li>Karmelitanki Bose z Klasztoru Matki Bożej Wielkiego Zawierzenia - Gdynia</li>
    <li>Karmelitanki Bose - Kalisz</li>
    <li>Karmelitanki Bose Miłości Miłosiernej - Szczecin</li>
    <li>Karmelitanki Bose - Wola Gułowska</li>
    <li>Zgromadzenie Sióstr Klarysek od Wieczystej Adoracji - Pniewy</li>
    <li>Klaryski - Sandomierz</li>
    <li>Klaryski - Stary Sącz</li>
    <li>Misjonarki Chrystusa Króla - Szczecin</li>
    <li>Nazaretanki - Jastrzębia Góra</li>
    <li>Wyższe Seminarium Duchowne Towarzystwa Salezjańskiego - Lądek</li>
    <li>Dom Zakonny Zgromadzenia Córek Maryi Wspomożycielki Siostry Salezjanki - Piotrków Trybunalski</li>
    <li>Salwatorianki - Olsztyn</li>
    <li>Zgromadzenie Sióstr Misjonarek NMP Królowej Afryki (Siostry Białe) - Lublin</li>
    <li>Służebniczki Najświętszej Maryi Panny Niepokalanie Poczętej - Brzesko</li>
    <li>Wyższe Seminarium Duchowne - Szczecin</li>
    <li>Wspólnota Sióstr Sakramentek Niewidomych - Zalesie Górne</li>
    <li>Zgromadzenie Sióstr Jezusa Miłosiernego - Myślibórz</li>
    <li>Zgromadzenie Sióstr św. Katarzyny - Braniewo</li>
    <li>Zgromadzenie Sióstr Zmartwychwstania Pańskiego - Prowincja Warszawska</li>
  </ul>
  <h2>Ile to kosztuje?</h2>
  <p>Nic. Zaplecze techniczne utrzymujemy z własnych środków. Korzystamy z otwartego, bezpłatnego oprogramowania i
    godnej podziwu ofiarności osób, które oferują chęć pomocy.</p>

  <h2>Jak się z nami skontaktować?</h2>
  <p>Prosimy o kontakt z nami za pośrednictwem poczty elektronicznej: poczta@intencje.pl</p>
</div>

