<div>
    <div>
      <div slot="start">
        <div></div>
      </div>
      <div data-test="page-title">{{route.snapshot.data['title']}}</div>
    </div>
  </div>

<div class="ion-padding">
<h3>§ 1</h3>
<h4>Postanowienia wstępne</h4>
<ol>
    <li>
        <p>
            Niniejszy Regulamin określa warunki korzystania oraz funkcjonowania Serwisu internetowego intencje.pl, prawa i obowiązki Użytkownika Serwisu jak również zakres odpowiedzialności Administratora Serwisu.
        </p>
    </li>
    <li>
        <p>
            Regulamin zamieszczony jest na stronie internetowej intencje.pl, w zakładce
            <a href="https://intencje.pl/regulamin" title="Regulamin serwisu Intencje.pl - Platforma Duchowej Łączności">Regulamin</a>.
        </p>
    </li>
    <li>
        <p>
            Każdy Użytkownik Serwisu zobowiązany jest zapoznać się z treścią Regulaminu. Akceptacja Regulaminu jest warunkiem koniecznym do utworzenia Konta Użytkownika.
        </p>
    </li>
    <li>
        <p>Administrator zastrzega sobie prawo do wprowadzania zmian w postanowieniach niniejszego Regulaminu każdorazowo informując Użytkownika o dokonanych zmianach.</p>
    </li>
    <li>
        <p>Brak akceptacji postanowień regulaminu uniemożliwia Użytkownikowi korzystanie z Serwisu.</p>
    </li>
</ol>
<h3>§ 2</h3>
<h4>Definicje</h4>
<ol>
    <li>
        <p>Niniejszy Regulamin zawiera następujące definicje:</p>
        <dl>
            <dt>a) Serwis</dt>
            <dd>
                <p>
                    Serwis internetowy dostępny pod adresem https://www.intencje.pl
                </p>
            </dd>
            <dt>b) Administrator</dt>
            <dd>
                <p>Administrator i właściciel Serwisu, którym jest Sławomir Jakubowski, zamieszkały w Gowinie, ul. Szczęśliwa
                    12, email: poczta@intencje.pl</p>
            </dd>
            <dt>c) Siła Wyższa</dt>
            <dd>
                <p>Nadzwyczajne okoliczności zewnętrzne, którym nie można zapobiec i których nie można przewidzieć, w szczególności: wojny, klęski żywiołowe, ataki DDoS, awarie sieci teleinformatycznej.</p>
            </dd>
            <dt>c) Użytkownik</dt>
            <dd>
                <p>Osoba korzystająca z Serwisu.</p>
            </dd>
            <dt>d) Rejestracja</dt>
            <dd>
                <p>Proces zakładania Konta Użytkownika w systemie informatycznym Serwisu poprzez przesłanie danych osobowych Użytkownika niezalogowanego za pośrednictwem formularza rejestracji.</p>
            </dd>
            <dt>e) Konto Użytkownika</dt>
            <dd>
                <p>
                    Konto tworzone w trakcie procesu Rejestracji w systemie informatycznym Serwisu do którego dostęp chroniony jest loginem i hasłem przypisanym Użytkownikowi. Umożliwia korzystanie z niedostępnych dla Użytkownika niezalogowanego funkcjonalności Serwisu.
                </p>
            </dd>
            <dt>f) Treści</dt>
            <dd>
                <p>Teksty, grafika, zdjęcia, filmy, pliki audio, odnośniki do innych stron, komentarze</p>
            </dd>
            <dt>g) Nieodpowiednie Treści</dt>
            <dd>
                <p>Treści:
                    </p><ol>
                        <li>
                            <p>o charakterze erotycznym, pornograficznym, obscenicznym, wulgarnym;</p>
                        </li>
                        <li>
                            <p>mające na celu propagowanie przemocy, nienawiści, rasizmu, wszelkiego rodzaju dyskryminacji na tle religijnym, kulturowym, etnicznym;</p>
                        </li>
                        <li>
                            <p>mające na celu ośmieszanie, obrażanie, szkalowanie, naruszających godność, dobre imię lub prawo do prywatności innych Użytkowników lub osób trzecich;</p>
                        </li>
                        <li>
                            <p>mające znamiona ukrytej bądź bezpośredniej reklamy (promocji) towarów i/lub usług;</p>
                        </li>
                        <li>
                            <p>szkodliwe dla wizerunku Serwisu, jego marki i reputacji;</p>
                        </li>
                        <li>
                            <p>promujące wszelkie formy przestępczości, cyberprzestępczości;</p>
                        </li>
                        <li>
                            <p>stojące w sprzeczności z misją Serwisu;</p>
                        </li>
                        <li>
                            <p>niezgodne z nauczaniem Kościoła Katolickiego.</p>
                        </li>
                    </ol>
                <p></p>
            </dd>
            <dt>h) RODO</dt>
            <dd>
                <p>
                    Rozporządzenie unijne, zawierające przepisy o ochronie osób fizycznych w związku z przetwarzaniem danych osobowych oraz przepisy o swobodnym przepływie danych osobowych.
                </p>
            </dd>
        </dl>
    </li>
</ol>
<h3>§ 3</h3>
<h4>Warunki techniczne korzystania z Serwisu</h4>
<ol>
    <li>
        <p>
            Użytkownik chcący korzystać z Serwisu musi dysponować dostępem do sieci Internet oraz oprogramowaniem służącym do przeglądania jej zasobów w możliwie najnowszych wersjach. Konfiguracja oprogramowania powinna pozwalać na obsługę plików cookies.
        </p>
    </li>
    <li>
        <p>
            Administrator nie gwarantuje poprawnego działania Serwisu w przypadku korzystania jego zasobów za pośrednictwem niestandardowych konfiguracji (sprzętu lub oprogramowania) lub z wykorzystaniem oprogramowania, którego data powstania jest większa niż rok od daty próby dostępu do Serwisu.
        </p>
    </li>
    <li>
        <p>
            Administrator nie ponosi odpowiedzialności za przerwy w dostępie do Serwisu lub utratę danych Użytkownika będącą skutkiem: prac konserwacyjnych, aktualizacji oprogramowania Serwisu, rozbudowy infrastruktury sieciowej, awarii, działania Siły Wyższej.
        </p>
    </li>
    <li>
        <p>Administrator zastrzega sobie prawo do czasowego lub stałego zawieszenia działalności Serwisu bez wcześniejszego powiadomienia Użytkownika.</p>
    </li>
</ol>
<h3>§ 4</h3>
<h4>Niedozwolone praktyki</h4>
<ol>
    <li>
        <p>
            Użytkownik zobowiązany jest do korzystania z Serwisu z zachowaniem aktualnych przepisów prawa, dobrych obyczajów, zasad współżycia społecznego oraz zapisów niniejszego Regulaminu.
        </p>
    </li>
    <li>
        <p>Zabrania się korzystania z Serwisu celem propagowania Nieodpowiednich Treści.</p>
    </li>
    <li>
        <p>Zabrania się korzystania z Serwisu w celu:
            </p><ol type="a">
                <li>
                    <p>rozsyłania niezamówionej informacji handlowej (spamu);</p>
                </li>
                <li>
                    <p>utrudniania bądź uniemożliwiania korzystania z jego zasobów pozostałym Użytkownikom poprzez generowanie sztucznego obciążenia infrastruktury Serwisu;</p>
                </li>
                <li>
                    <p>podszywania się pod inne osoby lub organizacje;</p>
                </li>
                <li>
                    <p>osiągania korzyści finansowych.</p>
                </li>
            </ol>
        <p></p>
    </li>
</ol>
<h3>§ 5</h3>
<h4>Treści</h4>
<ol>
    <li>
        <p>Użytkownik jest w pełni odpowiedzialny za wszelkie Treści, które publikuje w Serwisie.</p>
    </li>
    <li>
        <p>Administrator nie ponosi odpowiedzialności za Treści zamieszczane w Serwisie przez Użytkownika i zastrzega sobie prawo do ich edycji lub usuwania.</p>
    </li>
    <li>
        <p>
            Użytkownik wyraża zgodę na wykorzystywanie przez Administratora umieszczonych przez Użytkownika Treści celem promocji Serwisu udzielając tym samym Administratorowi nieodpłatnej i niewyłącznej licencji na wykorzystywanie wprowadzonych Treści zrzekając się tym samym wszelkich roszczeń w przypadku wykorzystania Treści przez Administratora.
        </p>
    </li>
    <li>
        <p>Użytkownik zobowiązany jest do przestrzegania warunków licencyjnych i/lub regulaminów osób trzecich o ile publikuje w Serwisu Treści od nich pochodzące. Obowiązek ten jest niezależny od postanowień niniejszego Regulaminu.</p>
    </li>
    <li>
        <p>Użytkownik przyjmuje do wiadomości i godzi się na zachowywanie i udostępnianie Treści zgodnie z ewentualną decyzją właściwego organu władzy publicznej lub na potrzeby realizacji postanowień niniejszego Regulaminu.</p>
    </li>
    <li>
        <p>Użytkownik ma prawo do usunięcia wprowadzonych przez siebie Treści i/lub posiadanego konta za pomocą narzędzi dostępnych w Serwisie lub za pomocą zgłoszenia wysłanego na adres email Administratora, tj. poczta@intencje.pl.</p>
    </li>
    <li>
        <p>Administrator zastrzega sobie prawo do przechowywania kopii zapasowych wprowadzonych przez Użytkownika Treści na okres nie przekraczający 1 roku od daty ich (Treści) utworzenia.</p>
    </li>
    <li>
        <p>Użytkownik zobowiązuje się do naprawienia szkody, którą ponieść może Administrator w związku z roszczeniami osób trzecich dotyczących wprowadzonych przez Użytkownika Treści.</p>
    </li>
</ol>
<h3>§ 6</h3>
<h4>Polityka prywatności</h4>
<ol>
    <li>
        <p>Administratorem danych osobowych Użytkownika w rozumieniu przepisów o ochronie danych osobowych jest Sławomir Jakubowski zamieszkały w Gowinie, ul Szczęśliwa 12, email: poczta@intencje.pl</p>
    </li>
    <li>
        <p>W związku z przetwarzaniem przez Administratora danych osobowych Użytkownika, Użytkownikowi przysługują następujące uprawnienia:
            </p><ol type="a">
                <li>
                    <p>prawo do żądania dostępu do swoich danych osobowych, ich sprostowania, usunięcia lub ograniczenia przetwarzania;</p>
                </li>
                <li>
                    <p>prawo do wniesienia sprzeciwu wobec przetwarzania;</p>
                </li>
                <li>
                    <p>prawo do przenoszenia danych;</p>
                </li>
                <li>
                    <p>prawo do cofnięcia zgody na przetwarzanie danych osobowych w określonym celu, o ile taka zgoda zostałą uprzednio wyrażona;</p>
                </li>
                <li>
                    <p>prawo do wniesienia skargi do organu nadzorczego w związku z przetwarzaniem przez Administratora danych osobowych.</p>
                </li>
            </ol>
        <p></p>
    </li>
    <li>
        <p>
            Uprawnienia wyszczególnione w §6, pkt.2 mogą być realizowane przez Użytkownika zgodnie z zasadami opisanymi w art. 16-21 RODO poprzez kontakt z Administratorem pod adresem poczta@intencje.pl lub za pośrednictwem udostępnionych w Koncie Użytkownika mechanizmów pozwalających na edycję lub usunięcie wybranych danych osobowych.
        </p>
    </li>
    <li>
        <p>
            Administrator powierza przetwarzanie danych osobowych następującym podmiotom:
            </p><ol type="a">
                <li>
                    <p>OVH Sp. z o.o., ul. Szkocka 5 lok. 1 54-402 Wrocław – w celu przechowywania danych na serwerze.</p>
                </li>
            </ol>
        <p></p>
    </li>
    <li>
        <p>
            Administrator gwarantuje poufność wszelkich przekazanych mu danych osobowych i zapewnia podjęcie wszelkich środków bezpieczeństwa i ochrony danych osobowych wymaganych przez przepisy o ochronie danych osobowych. Dane osobowe gromadzone są z należytą starannością i odpowiednio chronione przed dostępem do nich przez osoby do tego nieupoważnione. Dane osobowe przetwarzane są wyłącznie na terytorium Unii Europejskiej.
        </p>
    </li>
    <li>
        <p>
            Podanie przez Użytkownika danych osobowych jest zawsze dobrowolne, ale niezbędne, aby w procesie Rejestracji utworzyć Konto Użytkownika lub kontaktować się z Administratorem.
        </p>
    </li>
    <li>
        <p>
            Z chwilą Rejestracji Administrator rozpoczyna przetwarzanie danych osobowych Użytkownika w celu świadczenia usług obsługi Konta Użytkownika i procesu uwierzytelniania Użytkownika.
            Zakres danych: dane osobowe Użytkownika podane w trakcie procesu Rejestracji (login, adres email, hasło, podpis), dane osobowe Użytkownika podane w profilu Użytkownika (parafia, miejsce zamieszkania, adres strony internetowej, dowolne informacje o sobie) oraz dane dotyczące aktywności Użytkownika w Serwisie. Podanie niektórych danych jest warunkiem skorzystania z poszczególnych funkcjonalności Serwisu. Podstawą prawną do przetwarzania danych osobowych jest niezbędność do wykonania umowy o świadczenie usług zgodnie z Regulaminem.
        </p>
    </li>
    <li>
        <p>
            Każda osoba kontaktująca się z Administratorem za pośrednictwem poczty elektronicznej przekazuje swój adres email jako adres nadawcy wiadomości. Ponadto w treści wiadomości może zawrzeć również inne dane osobowe. Dane osobowe nadawcy przekazywane Administratorowi w ramach kontaktu emailowego przetwarzane są wyłącznie w celu obsługi zapytania. Treść korespondencji może podlegać archiwizacji. Podstawą prawną przetwarzania danych osobowych jest zgoda nadawcy wiadomości wynikająca z zainicjowania kontaktu z Administratorem.
        </p>
    </li>
    <li>
        <p>Administrator zobowiązany jest ujawnić i udostępnić zgromadzone i przetwarzane dane osobowe zgodnie z ewentualną decyzją właściwego organu władzy publicznej.</p>
    </li>
    <li>
        <p>Administrator ma prawo zażądać od Użytkownika weryfikacji danych osobowych wprowadzonych w trakcie Rejestracji.</p>
    </li>
    <li>
        <p>
            Użytkownik dokonujący Rejestracji w imieniu osób trzecich zobowiązany jest do posiadania pisemnej zgody osoby zlecającej Rejestrację i okazania jej na prośbę Administratora.
        </p>
    </li>
    <li>
        <p>Administrator może zażądać weryfikacji wprowadzonych danych osobowych pod kątem ich zgodności ze stanem faktycznym i czasowo zablokować konto Użytkownika od czasu zakończenia procesu weryfikacji konta.
        </p>
    </li>
    <li>
        <p>Obowiązkiem użytkownika jest aktualizacja wprowadzonych do Serwisu danych osobowych zgodnie z ich stanem faktycznym.</p>
    </li>
</ol>

<h3>§ 7</h3>
<h4>Polityka cookies i inne technologie śledzące</h4>
<ol>
    <li>
        <p>Podczas pierwszej wizyty w Serwisie Użytkownikowi wyświetlana jest informacja na temat stosowania plików cookies. Cookies to niewielkie informacje tekstowe, przechowywane na urządzeniu końcowym Użytkownika (np. komputerze, tablecie, smartfonie), które mogą być odczytywane przez system teleinformatyczny Administratora. Cookies pozwalają Administratorowi zapewnić prawidłowe funkcjonowanie Serwisu.</p>
    </li>
    <li>
        <p>Zaakceptowanie i zamknięcie informacji o cookies oznacza, że Użytkownik wyraża zgodę na wykorzystywanie plików cookies zgodnie z postanowieniami niniejszego Regulaminu.</p>
    </li>
    <li>
        <p>Użytkownik możę wycofać zgodę usuwając pliki cookies oraz zmieniając ustawienia plików cookies w swojej przeglądarce.</p>
    </li>
    <li>
        <p>Wyłączenie plików cookies może powodować trudności w korzystaniu z Serwisu</p>
    </li>
    <li>
        <p>Administrator wykorzystuje cookies do śledzenia statystyk Serwisu, takich jak liczba osób odwiedzających, rodzaj systemu operacyjnego i przeglądarki internetowej wykorzystywanej do przeglądania Serwisu, czas spędzony w Serwisie, odwiedzone podstrony etc. Dane statystyczne pobierane i przechowywane są w narzędziu Google Analytics. Zbierane w tym zakresie informacje są całkowicie anonimowe i nie pozwalają na identyfikację Użytkownika. W tym celu wykorzystywane są pliki cookies firmy Google LLC dotyczące usługi Google Analytics. Korzystanie z usług Google Analytics wiąże się z zaimplementowaniem w kodzie Serwisu udostępnionego przez Google kodu śledzącego (tzw. tracking code). Kod ten bazuje na plikach cookies, ale może wykorzystywać również inne technologie śledzące.</p>
    </li>
    <li>
        <p>Korzystanie ze Serwisu wiąże się z przesyłaniem zapytań do serwera, na którym przechowywany jest Serwis. Każde zapytanie skierowane do serwera zapisywane jest w logach serwera.
        Logi obejmują m.in. adres IP Użytkownika, datę i czas serwera, informacje o przeglądarce internetowej i systemie operacyjnym z jakiego korzysta Użytkownik. Dane zapisane w logach serwera nie są kojarzone z konkretnymi osobami korzystającymi ze Serwisu i nie są wykorzystywane przez Administratora w celu identyfikacji Użytkownika. Logi serwera stanowią wyłącznie materiał pomocniczy służący do administrowania Serwisem a ich zawartość nie jest ujawniana nikomu poza osobami upoważnionymi do administrowania serwerem.
        </p>
    </li>
</ol>


<h3>§ 8</h3>
<h4>Reklamacje i zgłaszanie Nieodpowiednich Treści</h4>
<ol>
    <li>
        <p>Użytkownik ma prawo złożyć reklamację w sprawach dotyczących sposobu funkcjonowania Serwisu oraz wskazać prezentowane
            w nim Nieodopowiednie Treści.</p>
    </li>
    <li>
        <p>Zgłoszenia reklamacyjne oraz zgłoszenia Nieodpowiednich Treści przyjmowane są drogą elektroniczną pod adresem poczta@intencje.pl.</p>
    </li>
    <li>
        <p>Administrator zobowiązuje się rozpatrzyć złożoną reklamację lub zgłoszenie Nieodpowiednich Treści w terminie 14 dni
            od daty ich otrzymania chyba, że w trakcie postępowania reklamacyjnego lub w trakcie rozpatrywania zgłoszenia Nieodpowiednich Treści
            zaistnieje konieczność doprecyzowania złożonego przez Użytkownika wniosku, potwierdzenia jego zasadności, uzupełnienia
            wymaganych danych osobowych Użytkownika lub weryfikacja ich poprawności. W takich przypadkach za wiążącą datę
            złożenia wniosku przyjmuje się datę dostarczenia wskazanych przez Administratora informacji.</p>
    </li>
</ol>
<h3>§ 9</h3>
<h4>Postanowienia końcowe</h4>
<ol>
    <li>
        <p>Serwis podlega prawu Rzeczpospolitej Polskiej oraz Unii Europejskiej.</p>
    </li>
    <li>
        <p>Administrator zastrzega sobie prawo do usuwania, blokowania, ograniczania dostępu do utworzonych kont Użytkowników
            oraz usuwania i/lub edycji wygenerowanych przez Użytkowników treści.</p>
    </li>
    <li>
        <p>Administrator nie ponosi odpowiedzialności (w szczególności karnej, cywilnej i administracyjnej) za niezgodne z prawem
            i/lub Regulaminem wykorzystywanie zasobów Serwisu przez Użytkowników.</p>
    </li>
</ol>
</div>
