<div>
  <div>
    <div slot="start">
      <div></div>
    </div>
    <div data-test="page-title">{{route.snapshot.data['title']}}</div>
  </div>
</div>
<div class="ion-padding">
  <p>Pośród trosk o sprawy doczesne w świecie, w którym przyszło nam być tylko przez chwilę zapominamy o tych, którzy obciążeni problemami towarzyszą nam
  w drodze do Nieba. Ich wiara gaśnie w pustych korytarzach szpitali gdzie z lękiem trwają przy swoich bliskich. Ich nadzieja niknie w mroku nałogów i zniewoleń potęgujących poczucie samotności. Ich miłość wystawiana jest na próbę pokusami zdrady i opuszczenia tych, którzy potrzebują pomocy.</p>

 <p>Na ratunek wierze, nadziei i miłości naszych Braci i Sióstr tworzymy <strong>Intencje.pl – Platformę Duchowej Łączności.</strong></p>

  <p>Korzystając z najnowocześniejszych form komunikacji w świetle zapewnień Jezusa Chrystusa <em>„(…) gdzie są dwaj albo trzej zebrani w imię moje, tam jestem pośród nich (Mt 18, 19-20)”</em> pragniemy pośredniczyć w duchowym spotkaniu osób proszących o modlitwę z tymi, którzy gotowi są ją ofiarować.</p>
  <p>Dokładamy wszelkich starań, aby serwis Intencje.pl był łatwo dostępny, prosty w obsłudze, dostosowany do obsługi na urządzeniach mobilnych oraz przez osoby niepełnosprawne.</p>
  <p>Pragniemy aby pozostawione w nim prośby o modlitwę dotarły do jak największej ilości osób gotowych nieść duchową pomoc potrzebującym.</p>
</div>
