<!-- <mat-chip-list class="topNavigation" role="navigation" aria-label="Filtruj listę modlitw">
  <mat-chip selected>Wszystkie</mat-chip>
  <mat-chip routerLink="/patroni">Ulubione</mat-chip>
  <mat-chip routerLinkActive="selected" routerLink="/modlitwy/podstawowe">Podstawowe</mat-chip>
  <mat-chip routerLinkActive="selected" routerLink="/modlitwy/tematyczne">Tematyczne</mat-chip>
  <mat-chip routerLinkActive="selected" routerLink="/modlitwy/litanie">Litanie</mat-chip>
  <mat-chip routerLinkActive="selected" routerLink="/modlitwy/noewnny">Nowenny</mat-chip>
  <mat-chip routerLink="/modlitwy/akty">Akty</mat-chip>
  <mat-chip routerLink="/modlitwy/dodaj">Dodaj modlitwę</mat-chip>
</mat-chip-list>
 -->



<ng-container *ngIf="prayersList$ | async as prayers; else loading">

  <div>
    <div
      infiniteScroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="50"
      [immediateCheck]="true"
      (scrolled)="nextBatch((prayers[prayers.length -1].date))">


      <div *ngFor="let prayer of prayers; let i = index; trackBy: trackByIdx">
        <app-prayer-card type="list"
          *ngIf="prayer.date.seconds * 1000 < startDate"
          [prayer]="prayer"
        ></app-prayer-card>
      </div>
    </div>

  </div>






</ng-container>

<ng-template #loading>
  <ng-container *ngIf="this.noContent; else skeleton">
    <app-no-content *ngIf="this.noContent" message="Brak modlitw."></app-no-content>
  </ng-container>
</ng-template>

<ng-template #skeleton>
  <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
</ng-template>


