<br/>
<mat-chip-list class="topNavigation" role="navigation" aria-label="Filtruj listę modlitw">
  <mat-chip selected>Wszystkie</mat-chip>
  <mat-chip routerLink="/patroni">Ulubione</mat-chip>
  <mat-chip>Podstawowe</mat-chip>
  <mat-chip>Tematyczne</mat-chip>
  <mat-chip>Litanie</mat-chip>
  <mat-chip>Nowenny</mat-chip>
  <mat-chip>Akty</mat-chip>
  <mat-chip routerLink="/modlitwy/dodaj">Dodaj modlitwę</mat-chip>
</mat-chip-list>
<br><br>



<div fxLayout="row wrap"  fxLayoutAlign="center start">

  <mat-card class="example-card" style="width:150px; margin: 7px;"  >
    <mat-card-header>
      <mat-card-title>Ojcze nasz</mat-card-title>
      <mat-card-subtitle>Podstawowe</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

    <mat-card-actions>
      <button mat-card-avatar mat-icon-button><mat-icon aria-label="Example thumbs up SVG icon">star</mat-icon></button>    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card" style="width:150px; margin: 7px;" >
    <mat-card-header>
      <mat-card-title>Ojcze nasz</mat-card-title>
      <mat-card-subtitle>Podstawowe</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

    <mat-card-actions>
      <button mat-card-avatar mat-icon-button><mat-icon aria-label="Example thumbs up SVG icon">star</mat-icon></button>    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" style="width:150px; margin: 7px;" >
    <mat-card-header>
      <mat-card-title>Ojcze nasz</mat-card-title>
      <mat-card-subtitle>Podstawowe</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

    <mat-card-actions>
      <button mat-card-avatar mat-icon-button><mat-icon aria-label="Example thumbs up SVG icon">star</mat-icon></button>    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" style="width:150px; margin: 7px;" >
    <mat-card-header>
      <mat-card-title>Ojcze nasz</mat-card-title>
      <mat-card-subtitle>Podstawowe</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

    <mat-card-actions>
      <button mat-card-avatar mat-icon-button><mat-icon aria-label="Example thumbs up SVG icon">star</mat-icon></button>    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" style="width:150px; margin: 7px;" >
    <mat-card-header>
      <mat-card-title>Ojcze nasz</mat-card-title>
      <mat-card-subtitle>Podstawowe</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

    <mat-card-actions>
      <button mat-card-avatar mat-icon-button><mat-icon aria-label="Example thumbs up SVG icon">star</mat-icon></button>    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" style="width:150px; margin: 7px;" >
    <mat-card-header>
      <mat-card-title>Ojcze nasz</mat-card-title>
      <mat-card-subtitle>Podstawowe</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

    <mat-card-actions>
      <button mat-card-avatar mat-icon-button><mat-icon aria-label="Example thumbs up SVG icon">star</mat-icon></button>    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" style="width:150px; margin: 7px;" >
    <mat-card-header>
      <mat-card-title>Ojcze nasz</mat-card-title>
      <mat-card-subtitle>Podstawowe</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

    <mat-card-actions>
      <button mat-card-avatar mat-icon-button><mat-icon aria-label="Example thumbs up SVG icon">star</mat-icon></button>    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" style="width:150px; margin: 7px;" >
    <mat-card-header>
      <mat-card-title>Ojcze nasz</mat-card-title>
      <mat-card-subtitle>Podstawowe</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

    <mat-card-actions>
      <button mat-card-avatar mat-icon-button><mat-icon aria-label="Example thumbs up SVG icon">star</mat-icon></button>    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" style="width:150px; margin: 7px;" >
    <mat-card-header>
      <mat-card-title>Ojcze nasz</mat-card-title>
      <mat-card-subtitle>Podstawowe</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

    <mat-card-actions>
      <button mat-card-avatar mat-icon-button><mat-icon aria-label="Example thumbs up SVG icon">star</mat-icon></button>    </mat-card-actions>
  </mat-card>
  <mat-card class="example-card" style="width:150px; margin: 7px;" >
    <mat-card-header>
      <mat-card-title>Ojcze nasz</mat-card-title>
      <mat-card-subtitle>Podstawowe</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

    <mat-card-actions>
      <button mat-card-avatar mat-icon-button><mat-icon aria-label="Example thumbs up SVG icon">star</mat-icon></button>    </mat-card-actions>
  </mat-card>

</div>