<div>
  <div>
    <div slot="start">
      <div></div>
    </div>
    <div data-test="page-title">{{route.snapshot.data['title']}}</div>
  </div>
</div>

<div>

  <!-- Stations -->
  <div class="padding"></div>
  <div id="station0" class="station">
    <div class="title">
      <a id="title0" class="subtitle" href="javascript:void(0);"></a>
      <div id="live0" class="live">LIVE</div>
      <div id="playing0" class="playing">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>
  <div id="station1" class="station">
    <div class="title">
      <a id="title1" class="subtitle" href="javascript:void(0);"></a>
      <div id="live1" class="live">LIVE</div>
      <div id="playing1" class="playing">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>
  <div id="station2" class="station">
    <div class="title">
      <a id="title2" class="subtitle" href="javascript:void(0);"></a>
      <div id="live2" class="live">LIVE</div>
      <div id="playing2" class="playing">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
      </div>
    </div>
  </div>

</div>
