<ng-container
  *ngIf="(intention$ | async) as intention; else loading"
  [appAddSeoStuff]="{type: 'intention', data:intention}"
>
  <!-- <div>
    <app-intentions-header [title]="route.snapshot.data['title'] + intention.title"></app-intentions-header>
  </div> -->

  <!-- <header *ngIf="!screenService.isMobile" style="border-bottom: solid 1px rgba(0, 0, 0, 0.12)"><h1>{{route.snapshot.data['title'] + intention.title}}</h1>  </header> -->

        <app-intention-card
          [intention]="intention" type="extended"
        ></app-intention-card>


</ng-container>
<ng-template #loading>
  <ngx-skeleton-loader count="5"></ngx-skeleton-loader>
</ng-template>
